@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, select {
  font-family: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 1200px;  
  margin: 0 auto;
}

.header__navigation {
  list-style-type:none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__link {
  display: inline-block;
  color: rgba(47, 40, 30, 1);
  cursor: pointer;
  text-decoration: none;
}

.header__link:hover {
  color: rgba(255, 153, 0, 1);
}

.header__link--active {
  color: rgba(255, 153, 0, 1);
}

.header__button {
  width: 110px;
  height: 46px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.header__button--primary {
  background-color: rgba(255, 153, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.header__button--primary:hover {
  background-color: rgb(255, 181, 71);
  transition: 0.1s;
}

.header__button--secondary {
  color: rgba(47, 40, 30, 1);
  border: 1px solid rgba(188, 208, 229, 1);
  margin-right: 32px;
}

.hero {
  width: 1200px;
  height: 495px;
  margin: 70px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__container {
  width: 500px;
}

.hero__title {
  font-size: 44px;
  font-weight: 700;
  color: rgba(47, 40, 30, 1);
}

.hero__text {
  font-size: 18px;
  color: rgba(84, 72, 55, 1);
  margin-top: 30px;
}

.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(255, 153, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 20px;
  cursor: pointer;
}

.hero__link:hover {
  background-color: rgb(255, 181, 71);
  transition: 0.1s;
}

.tools {
  background-image: url(/image/section-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 99px;
  height: 510px;
}

.tools__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools__title {
  font-size: 36px;
  font-weight: 700;
  width: 540px;
  text-align: center;
}

.tools__list {
  list-style: none;
  display: flex;
  gap: 40px;
  color: rgba(47, 40, 30, 1);
  margin-top: 50px;
}

.list__card {
  width: 270px;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  color: rgba(47, 40, 30, 1);
}

.card__text {
  font-size: 16px;
  font-weight: 500;
  color: rgba(84, 72, 55, 1);
  margin-top: 16px;
}

.tools__link {
  text-decoration: none;
  background-color: rgba(255, 153, 0, 1);
  width: 180px;
  height: 50px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding: 13px 0;
  margin-top: 70px;
}

.tools__link:hover {
  background-color: rgb(255, 181, 71);
  transition: 0.1s;
}

.footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(188, 208, 229, 0.5);
  position: absolute;
  top: 0;
}

.footer {
  position: relative;
  min-width: 1200px;
  padding: 70px 0;
}

.footer__container {
  display: flex;
  gap: 130px;
  width: 1200px;
  margin: 0 auto;
}

.footer__logo {
  align-self: flex-start;
  width: 200px;
  height: 32px;
}

.list {
  list-style: none;
}

.footer__list {
  width: 135px;
}

.footer__subtitle {
  font-size: 20px;
  line-height: 30px;
  color: rgba(47, 40, 30, 1);
  font-weight: 700;
  margin-bottom: 30px;
}

.list__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: rgba(84, 72, 55, 1);
  margin-top: 15px;
  cursor: pointer;
}

.form {
  width: 340px;
}

.form__title {
  margin-bottom: 25px;
}

.form__input {
  width: 340px;
  height: 50px;
  border: 1px solid rgba(188, 208, 229, 1);
  border-radius: 4px;
  padding: 0 10px;
  color: rgba(84, 72, 55, 1);
}

.form__button {
  width: 180px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(255, 153, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  cursor: pointer;
}


.form__button:hover {
  background-color: rgb(255, 181, 71);
  transition: 0.1s;
}
